<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AffirmBot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <!-- Chatbox Header -->
    <div class="chatbox_header">
         <h3>AffirmBot</h3>
    </div>

    <!-- Chatbox Messages -->
    <div class="chatbox_messages">
    </div>

    <!-- Chatbox Footer -->
    <div class="chatbox_footer">
        <input type="text" class="message_input" placeholder="Type here...">
        <button class="chatbox_send">
            <img src="https://cdn0.iconfinder.com/data/icons/superglyph-communication/30/message-sending-1024.png" 
                 alt="Send Button" width="35" height="40">
        </button>
    </div>
</div>
<script>
  const $SCRIPT_ROOT = '/';
</script>
<script src="/static/AffirmBot.js"></script>
</body>
</html>
